
.card-title {
    font-size: 1rem;
    
}
.card .card-body {
    padding: 0.5rem 0.5rem;
}
.avgImg {
    height: 19px;
    width: 19px;
    margin-top: 3px;
    margin-right: 2px;
}
.val {
    color:#565656;
}
